* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#box-container {
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 600px;
}

/* .row {
  outline: 2px solid green;
} */

.box {
  width: 30px;
  height: 30px;
  margin-right: 1px;
  margin-bottom: 1px;
}

.green {
  border: 2px solid green;
  background-color: green;
}

.red {
  border: 2px solid red;
  background-color: red;
}