body {
  background: #B5E4F6;
}

.box {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 8%;
  height: 400px;
  width: 600px;
}

.switch-container {
 position: absolute;
 width: 80%;
 height: 60%;
 top: 20%;
 left: 10%; 
}

.joy-con-left {
  position: absolute;
  height: 100%;
  width: 15%;
  background: #737A80;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.joy-con-right {
  position: absolute;
  height: 100%;
  width: 15%;
  right: 0%;
  background: #737A80;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.screen-outer {
  position: absolute;
  background: none;
  width: 70%;
  left: 15%;
  background: black;
  height: 100%
}

.screen-inner {
  position: absolute;
  background: none;
  width: 90%;
  left: 5%;
  top: 5%;
  background: #E60001;
  height: 90%
}

.analog-left {
  position: absolute;
  border-radius: 50%;
  background: black;
  height: 13%;
  width: 40%;
  top: 20%;
  left: 25%;
  border: solid 5px #202226;
}

.analog-right {
  position: absolute;
  border-radius: 50%;
  background: black;
  height: 13%;
  width: 40%;
  top: 50%;
  left: 25%;
  border: solid 5px #202226;
}

.d-pad-container-left {
  position: absolute;
  left: 15%;
  height: 23%;
  width: 70%;
  top: 45%;
}

.d-pad-container-right {
  position: absolute;
  left: 15%;
  height: 23%;
  width: 70%;
  top: 20%;
}

.d-pad-top {
  position: absolute;
  height: 30%;
  width: 30%;
  left: 35%;
  top: 0%;
  background: black;
  border-radius: 50%;
}

.d-pad-bottom {
  position: absolute;
  height: 30%;
  width: 30%;
  left: 35%;
  bottom: 0%;
  background: black;
  border-radius: 50%;
}

.d-pad-left {
  position: absolute;
  height: 30%;
  width: 30%;
  left: 0%;
  bottom: 35%;
  background: black;
  border-radius: 50%;
}

.d-pad-right {
  position: absolute;
  height: 30%;
  width: 30%;
  right: 0%;
  bottom: 35%;
  background: black;
  border-radius: 50%;
}

.square-button {
  position: absolute;
  bottom: 15%;
  right: 13%;
  height: 7%;
  width: 23%;
  background: black;
}

.ellipse-button {
  position: absolute;
  height: 3%;
  width: 30%;
  top: 9%;
  right: 5%;
  background: black;
  border-radius: 50px;
}

.d-pad-2-container {
  position: absolute;
  height: 8%;
  width: 25%;
  top: 6%;
  left: 8%;
}

.d-pad-2-vertical {
  position: absolute;
  height: 100%;
  width: 35%;
  background: black;
  left: 32.5%;
}

.d-pad-2-horizontal {
  position: absolute;
  width: 100%;
  height: 35%;
  background: black;
  top: 32.5%;
}

.circle-button-right {
  position: absolute;
  border-radius: 50%;
  background: black;
  height: 3%;
  width: 10%;
  bottom: 18%;
  left: 10%;
  border: solid 5px #202226;
}

.logo-left {
  position: absolute;
  height: 60%;
  width: 20%;
  left: 25%;
  top: 16%;
  background: #E60001;
  border: solid 6px white;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

.logo-right {
  position: absolute;
  height: 60%;
  width: 20%;
  right: 25%;
  top: 16%;
  background: #E60001;
  border: solid 6px white;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}


