* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

#box-container {
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 600px;
}

.box {
  width: 30px;
  height: 30px;
  margin-right: 1px;
  margin-bottom: 1px;
  border: 1px solid #000;
  background-color: #FFF;
}

#color-palette {
  width: 619px;
  height: 100px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.paint-sample {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}